[Unit]
Description=Run Kilusi Bill backup daily
Requires=kilusi-bill-backup.service

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=1800

[Install]
WantedBy=timers.target