[Unit]
Description=Kilusi Bill Frontend Service
After=network.target kilusi-bill-backend.service
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/kilusi-bill/frontend
Environment=NODE_ENV=production
ExecStart=/usr/bin/npx next start -p 8080
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=kilusi-bill-frontend

LimitNOFILE=65536

[Install]
WantedBy=multi-user.target